@import url(http://fonts.googleapis.com/css?family=Poiret+One);

.navbar-default{
    background: #fff;
}
.navbar-default .navbar-nav>.active>a{
    border-bottom: 3px solid #000;
    background-color: #fff;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus{
    background-color: #fff;
}
.navbar-brand{
    color: #000 !important;
}

.list-group-item{
    padding: 8px 15px;
}
footer{
    margin-bottom: 50px;
}
footer ul{
    margin-top: 50px;
}
footer ul li .fb-share-button>span{
    vertical-align: initial !important;
}


.black{
    color: #fff;
    background: #000;
    padding-top: 130px;
    padding-bottom: 140px;
}
.black h1, .black h3, .black .lead{
    font-family: 'Poiret One', Arial !important;
}
.black h1{
    font-size: 110px;
    margin-bottom: 25px
}
.black .lead{
    padding: 0 10%;
    font-size: 35px;
    margin-bottom: 50px;
    color: #ddd;
}
.black .lead2{
    font-size: 22px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.black .btn{
    color: #fff;
    background: #000;
    font-size: 20px;
    padding: 18px  35px;
}
.black .btn:hover{
    background: #fff;
    color: #000;
}

.white{
    padding-top: 80px;
    padding-bottom: 80px;
}
.white .row:first-child{
    margin-top: 0;
}
.white .row{
    margin-top: 80px;
}
.white .col-xs-12 a{
    font-family: 'Poiret One', Arial !important;
    border:10px solid #000;
    background:#000;
    color: #fff;
    display: block;
    border-radius: 50%;
    height: 0;
    padding-bottom: 70%;
    width: 80%;
    margin: 0 10%;
    transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out; /* Chrome & Safari */
    -moz-transition:all .2s ease-in-out; /* Firefox */
    -o-transition:all .2s ease-in-out; /* Opera */
    -ms-transition:all .2s ease-in-out; /* IE 9 */
}
.white .col-xs-12 a:hover{
    text-decoration: none;
    background:#fff;
    color: #000
}
.white .col-xs-12 a:hover span{
    font-size: 110px;
    margin-bottom: 10px;
}
.white .col-xs-12 span{
    font-size: 100px;
    /*margin-bottom: 55px;*/
    margin-top: 20%;
    transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out; /* Chrome & Safari */
    -moz-transition:all .2s ease-in-out; /* Firefox */
    -o-transition:all .2s ease-in-out; /* Opera */
    -ms-transition:all .2s ease-in-out; /* IE 9 */
}
.white .small{
    width: 140px;
}
.white .lead{
    font-family: 'Poiret One', Arial !important;
    font-size: 40px;
    margin-top: 60px;
}
.white .lead2{
    font-family: 'Poiret One', Arial !important;
    font-size: 30px;
    margin-top: 40px;
}
.white a{
    margin-bottom: 40px;
}


.jumbotron{
    margin-bottom: 40px;
    background-color: #000;
    background-image: url('../images/bg-smoke.jpg');
    background-position: center;
    color: #ddd;
}
.jumbotron h1{
    margin-top: 60px;
}

.col-lg-3{
    margin-top: 25px;
}
.col-lg-9{
    background: #fff;
}
.col-lg-9 section{
    margin-bottom: 120px;
}

.affix{
    top: 80px;
}

.error h1,
.error h2,
.error span,
.error h3{
    display: inline-block;
    margin: 0;
    padding: 0;
}
.error h1{
    font-size: 20em;
    z-index: 30;
}
.error h2{
    font-size: 24em;
    color: #1f1f1f;
}
.error h3{
    font-size: 14em;
    color: #1f1f1f;
    letter-spacing: -14px;
}
.error p{
    font-size: 3em;
    font-weight: lighter;
    letter-spacing: 2px;
}

/*.loading{
    z-index: 10000;
    position: fixed;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}*/




.load{
    overflow: hidden;
}
.loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 1234;
    display:flex;
    justify-content:center;
    align-items:center;
}

.loader {
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  /*margin: 22% auto;*/
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.087em -0.825em 0 -0.42em #ffffff, -0.173em -0.812em 0 -0.44em #ffffff, -0.256em -0.789em 0 -0.46em #ffffff, -0.297em -0.775em 0 -0.477em #ffffff;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.338em -0.758em 0 -0.42em #ffffff, -0.555em -0.617em 0 -0.44em #ffffff, -0.671em -0.488em 0 -0.46em #ffffff, -0.749em -0.34em 0 -0.477em #ffffff;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.377em -0.74em 0 -0.42em #ffffff, -0.645em -0.522em 0 -0.44em #ffffff, -0.775em -0.297em 0 -0.46em #ffffff, -0.82em -0.09em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.087em -0.825em 0 -0.42em #ffffff, -0.173em -0.812em 0 -0.44em #ffffff, -0.256em -0.789em 0 -0.46em #ffffff, -0.297em -0.775em 0 -0.477em #ffffff;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.338em -0.758em 0 -0.42em #ffffff, -0.555em -0.617em 0 -0.44em #ffffff, -0.671em -0.488em 0 -0.46em #ffffff, -0.749em -0.34em 0 -0.477em #ffffff;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, -0.377em -0.74em 0 -0.42em #ffffff, -0.645em -0.522em 0 -0.44em #ffffff, -0.775em -0.297em 0 -0.46em #ffffff, -0.82em -0.09em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #ffffff, 0 -0.83em 0 -0.42em #ffffff, 0 -0.83em 0 -0.44em #ffffff, 0 -0.83em 0 -0.46em #ffffff, 0 -0.83em 0 -0.477em #ffffff;
  }
}




@media (max-width: 767px) {
    .affix {
        position: static;
    }
    .error h1{
        font-size: 10em
    }
    .error h2{
        font-size: 12em;
    }
    .error h3{
        font-size: 7em;
    }
    .error p{
        font-size: 1.5em
    }
}
@media (min-width: 1200px){
    .affix {
        width: 258px;
    }
}

