<form id="formDate">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Date</label>
        <input type="text" class="form-control" id="date" value="12-30-2015">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Format</label>
        <input type="text" class="form-control" id="format" value="dd/MM/yyyy">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-default" id="btnDate">Customize</button>
</form>
